@font-face {
  font-family: "MuseoSansMedium";
  src: url("../assets/fonts/MuseoSansMedium.eot");
  src: url("../assets/fonts/MuseoSansMedium.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/MuseoSansMedium.woff") format("woff"),
    url("../assets/fonts/MuseoSansMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
