$duration: .3s;

.rc-switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 44px;
  height: 22px;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 20px 20px;
  border: 1px solid #CCC;
  background-color: #CCC;
  cursor: pointer;
  transition: all $duration cubic-bezier(.35, 0, .25, 1);

  &-inner {
    color: white;
    font-size: 12px;
    position: absolute;
    left: 24px;
  }

  &:after {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 2px;
    top: 1px;
    border-radius: 50% 50%;
    background-color: white;
    content: " ";
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    transform: scale(1);
    transition: left $duration cubic-bezier(.35, 0, .25, 1);
    animation-timing-function: cubic-bezier(.35, 0, .25, 1);
    animation-duration: $duration;
    animation-name: rcSwitchOff;
  }

  &:hover:after {
    transform: scale(1.1);
    animation-name: rcSwitchOn;
  }

  &:focus {
    outline: none;
  }

  &-checked {
    border: 1px solid #86CE67;
    background-color: #86CE67;

    .rc-switch-inner {
      left: 6px;
    }

    &:after {
      left: 22px;
    }
  }

  &-disabled {
    cursor: no-drop;
    opacity: .4;

    &:after {
      //background: #9e9e9e;
      animation-name: none;
      cursor: no-drop;
    }

    &:hover:after {
      transform: scale(1);
      animation-name: none;
    }
  }

  &-label {
    display: inline-block;
    line-height: 20px;
    font-size: 14px;
    padding-left: 10px;
    vertical-align: middle;
    white-space: normal;
    pointer-events: none;
    user-select: text;
  }
}

@keyframes rcSwitchOn {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes rcSwitchOff {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
